@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "fonts";


@mixin displayCenter ($justifyContent, $flexdirection){
    display: flex;
    align-items: center;
    justify-content: $justifyContent;
    flex-direction: $flexdirection;   
}




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: "Kumbh Sans", sans-serif;
    font-size: 12px;
}

main{
    @include displayCenter(center,column);
    width: 100%;
    height: 100vh;
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
}

.container{

  min-height: 400px;
  
    @include displayCenter(center,column);
    background-color: white;

    @media screen and (min-width:500px) {
       @include displayCenter(center,row ) ;
       overflow: hidden;   
       width: 60%; 
       min-height: 400px;

       background: url(/images/bg-pattern-desktop.svg) no-repeat white;
        background-size: 80%;
        background-position-x:-240%; 
        background-position-y:70%; 
    }

    width: 80%;
    border-radius: 1rem;
}


.image-area{



    height: 8rem;
    @media screen and (min-width:500px) {
        @include displayCenter(center, column);
        height: 100%; 
        width: 40%;     
     }

    .box-img{
        width: 12%;
        position: absolute;
        z-index: 1;
        left:12%;
        top: 44%;
    }

    .dekstop-main-img{
        width:100%;
        transform: translateX(-30%);

    }

    .dekstop-img{
        @media screen and (max-width:500px) {
            display:none;       
        }
        
    }
    .mobile{
    @media screen and (min-width:500px) {
        display:none;       
        }
    }

    .main-img{
        transform: translateY(-118%)
    }

}



.text-area{
    @include displayCenter(center, column);
    width: 100%;
    padding-bottom: 2rem;

    @media screen and (min-width:500px) {
        width: 40%; 
        padding:3rem 0;
        margin-right: 3rem;
        @include displayCenter(center,column )   ;
        align-items: flex-start;
     }

    .qnaBox{width:100%;
    }
    
    .qna{
        border-bottom: 1px solid hsl(240, 5%, 91%);
        width: 80%;
        margin: 0 auto;
        @media screen and (min-width:500px) {
            padding: 0;  
            margin: 0;    
          }

        .question{
            margin: 1rem 0;
            @include displayCenter(space-between ,row );
            color:$primary-question;
            cursor: pointer;

            &:hover{
                color: $hover-question;
            }
            img{
                transition:all .5s ;
            }
        }
        .answer{
            margin-bottom: 1rem;
            color: $primary-answer;
            transition: 1s;
        }
    }

}


.answer{
   display: none;
}

.active {
    .answer{
        display: block;
    }
    .question{
        color: $active-question;
        font-weight: 700;
        font-size: 14px;
    }
    img{
        
        transform: rotate(180deg);
    }

}